* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-white1: #fff2f9;
  --cl-white2: #eeeeee;
  --bg-black1: #040303;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--cl-white1), var(--cl-white2));
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}

.calculadora {
  width: 500px;
  background-color: var(--bg-black1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.calculadora__head {
  padding: 40px 0;
  display: grid;
  place-items: center;
}

.calculadora__head__input {
  width: 90%;
  height: 35px;
  border: 4px;
  outline: 0;
  border-radius: 4px;
  text-indent: 10px;
  background-color: #212121;
  color: #9d9d9d;
  font-size: 1.2rem;
}

.calculadora__body {
  height: 300px;
  display: grid;
  place-items: center;
}

.calculadora__body__btns {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.calculadora__body__btns button {
  outline: 0;
  border: #161616 1px solid;
  color: #f3f1f5;
  background-color: #444444;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  cursor: pointer;
}

.calculadora__body__btns button:nth-child(5){
  grid-column: 5;
  grid-row: 1 / 3;
}

.calculadora__body__btns button:nth-child(18){
  grid-column: 4 / 6;
}

.calculadora__body__btns button:hover {
  background-color: #505050;
}
